$white: #fff;
$pluto-black: #000000;
$pluto-white: #F9F9F9;
$pluto-white-2: #E5E5E5;
$pluto-light-gray: #CECECE;
$pluto-gray: #8A8989;
$pluto-dark-gray: #434241;
$pluto-yellow: #FFBA08;
$pluto-pink: #F72585;
$pluto-purple: #7209B7;
$pluto-purple-light: #5836E5;
$pluto-blue: #4361EE;
$pluto-deep-blue: #3A0CA3;
$pluto-dark-blue: #010231;
$pluto-checkbox-green: #4CD964;
$pluto-chat-message-1: #A987FF;

$gradient-sidebar: linear-gradient(180deg, #7F00FF 0%, #E100FF 100%, #E100FF 100%);

// $color-1: #F9F9F9;
// $color-2: #E5E5E5;
// $color-3: #CECECE;
// $color-4: #8A8989;
// $color-5: #434241;

// $color-6: #F72585;
// $color-7: #7209B7;
// $color-8: #4361EE;
// $color-9: #3A0CA3;
// $color-10: #010231;